name: Check

on:
  pull_request:

  push:
    branches:
      - 0.12.x # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt scalafmtCheckAll scalafmtSbtCheck javafmtCheckAll headerCheckAll

#  MiMa is not enabled yet, since this library is marked as "API may change".
#  check-binary-compatibility:
#    name: Binary Compatibility
#    uses: playframework/.github/.github/workflows/binary-check.yml@v3

  check-docs:
    name: Docs
    uses: playframework/.github/.github/workflows/antora.yml@v3
    with:
      path: "./docs"

  tests:
    name: Tests
    needs:
      - "check-code-style"
      # - "check-binary-compatibility"
      - "check-docs"
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      java: 17, 11
      scala: 3.x, 2.13.x
      cmd: sbt ++$MATRIX_SCALA test

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "tests"
    uses: playframework/.github/.github/workflows/rtm.yml@v3
