name: Publish

on:
  push:
    branches: # Snapshots
      - 0.11.x
    tags: ["**"] # Releases

jobs:
  publish-artifacts-scala-2:
    name: Publish / Scala 2.13 Artifacts
    uses: playframework/.github/.github/workflows/publish.yml@v4
    with:
      cmd: |
        export CI_SNAPSHOT_RELEASE=publish
        export CI_RELEASE=publishSigned
        sbt ++2.13.x ci-release
    secrets: inherit
  publish-artifacts-scala-3:
    name: Publish / Scala 3 Artifacts
    uses: playframework/.github/.github/workflows/publish.yml@v4
    with:
      cmd: |
        export CI_SNAPSHOT_RELEASE=publish
        export CI_RELEASE=publishSigned
        sbt -DUSE_BSL=true ++3.x ci-release
    secrets: inherit
